<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--sqlSession.selectOne("userTest.selectUser", 3)namespace的值，就是用在语句的这个位置-->
<!--官网参考：http://www.mybatis.org/mybatis-3/zh/sqlmap-xml.html-->
<mapper namespace="userTest">
    <select id="selectUser" parameterType="int" resultType="User">
        select * from User where id = #{id}
    </select>
</mapper>