<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zzr1000.mybatisTest.test2.dao.User2mapper">
     
     <!-- 实体类 中 与表名字 不同  使用 resultMap 来创建 别名映射！-->
    <!--id 供下面的具体select等用、type是对应的类信息，在配置了typealiases之后，可以不用包名，直接用类名
    类名的大小写，不敏感-->
     <resultMap type="user2" id="userMap">
    		 <!--<id column="u_id" property="id" jdbcType="INTEGER"/>-->
    		 <result column="username" property="un"/>
    		 <result column="password" property="pw"/>
     </resultMap>

       <!-- 查询 所有 数据 测试！ -->  
    <select id="getObjects" resultMap="userMap"> <!-- 直接引用 上面的 resultMap -->
        select username,password,age from user
    </select>
  
</mapper>